:root {
  --primary-color: #3674B5;
  --secondary-color: #578FCA;
  --tertiary-color: #A1E3F9;
  --border-color: #E1E1E1;
  --shadow-color: #0000001a;
  --text-color: #333;
  --text-secondary-color: #666;
}
